<div class="row">
	<div class="span4">
</div>

<div class="span4">

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

<div class="control-group">
  <%= f.email_field :email, :autofocus => true, class: "controls", placeholder: "Email" %>
</div>

 <div class="control-group">
  <%= f.password_field :password, class: "controls", placeholder: "Password" %>
</div>

 <div class="control-group">
  	<%= f.password_field :password_confirmation, class: "controls", placeholder: "Retype password" %>
</div>

  <div><%= f.submit "Sign up", class: "btn signup" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>

<div class="span4">
	</div>
</div>

</div>