<li>
<%= image_tag option.image.url(:small) %>
<h3> <%= option.description %> </h3>
<p>

<% if option.project.user == current_user && option.project.voting_closed?(current_user) %>
  <span class="score bold"> Score: <%= option.score %></span>
  <%= link_to 'Delete option', option,:style =>'color: #0099dd', method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %>
<% elsif option.project.voting_closed?(current_user) %>
  <span class="score bold"> Score: <%= option.score %></span>
<% end %>

<% if option.project.user == current_user %>
  <%= link_to 'Delete option', option,:style =>'color: #0099dd', method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %>
<% end %>

  <% 
     my_vote = current_user.votes.where(option_id: option.id).order('created_at').last.try(:updown)
     hot_class = 'active' if my_vote == 1
     not_class = 'active' if my_vote == -1
  %>

<% if option.project.voting_closed?(current_user) == false || option.project.user == current_user %>
<div class="btn-group">
  <%= link_to 'Hot', project_option_votes_path(option.project, option, vote: 'up'), class: "btn #{hot_class}", :style =>'color: #0099dd', method: :post %>
  <%= link_to 'Not', project_option_votes_path(option.project, option, vote: 'down'), class: "btn #{not_class}", :style =>'color: #0099dd', method: :post %>
</div>
<% end %>
</p>
</li>
