<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @option.description %>
</p>

<p>
  <b>Project:</b>
  <%= @option.project %>
</p>

<p>
  <b>Photo url:</b>
  <%= @option.photo_url %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
