<table class="table">
  <tr>
    <th>Project</th>
    <th>User</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @projects.each do |project| %>
  <tr>
    <td><%= project.title %></td>
    <td><%= project.user.email %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'Show', project %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path, class: "btn" %>
