<p id="notice"><%= notice %></p>

<p>
  <H2> <%= @project.title %></H2>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
  <% unless @project.voting_closed? current_user %>
    <%= link_to "I'm done voting!", project_vote_statuses_path(@project),class: "btn pull-right", method: :create %>
  <% end %>
</p>

<p>
  <b>User:</b>
  <%= @project.user.email %>
</p>

<ul class="thumbnails">
    <% if @project.user == current_user || @project.voting_closed?(current_user)  %>
        <%= render @project.options.order('score desc') %>
      <% else %>
        <%= render @project.options.order('description asc') %>
      <% end %> 
</ul>

<p>
<% if @project.user == current_user || @project.allow == true %>
<%= render 'options/form',
    option: @project.options.build,
    project: @project %>
<% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Home', projects_path %>

