<p id="notice"><%= notice %></p>

<p>
  <H2><b>Power Move:</b> <%= @project.title %></H2>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
  <% if @project.user != current_user && @project.voting_closed?(current_user) == false %>
    <%= link_to "See results", project_vote_statuses_path(@project),class: "btn btn-inverse pull-right", method: :create, data: { confirm: "Are you sure? You won't be able to change your votes."  } %>
  <% end %>
</p>

<ul class="thumbnails">
    <% if @project.user == current_user || @project.voting_closed?(current_user)  %>
        <%= render @project.options.order('score desc') %>
      <% else %>
        <%= render @project.options.order('photo_url asc') %>
      <% end %> 
</ul>

<p>
<% if @project.user == current_user || @project.allow == true %>
<%= render 'options/form',
    option: @project.options.build,
    project: @project %>
<% end %>
</p>

<% if @project.user == current_user %>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Home', projects_path %>

