<p id="notice"><%= notice %></p>

<p>
  <H2> <%= @project.title %></H2>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>User:</b>
  <%= @project.user.email %>
</p>

 <div class="field">
    <ul>
      <%= render @project.options %>
      <li><%= render 'options/form',
                     option: @project.options.build,
                     project: @project %>
      </li>
   </ul>
  </div>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Home', projects_path %>

