<!DOCTYPE html>
<html>
<head>
  <title>Tbd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
     <ul class="nav">
      <li>
  <%= link_to "POWER MOVES", projects_path, class: "title" %>
   </li>
      <li class="divider-vertical"></li>
      <li>
          <%= link_to "Home", projects_path %>
      <li>
      <li class="divider-vertical"></li>
      <li>
          <%= link_to "My Power Moves", my_projects_path %>
      </li>
      <li>
      <li class="divider-vertical"></li>
      <li>
          <%= link_to "New Power Move", new_project_path %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <%end %>
      </li>
    </ul>

    <ul class="nav pull-right">
      <li>
    <%= search_form_for q, html: {class: "navbar-search"} do |f| %>
        <%= f.text_field :title_cont, class: "search-query", placeholder: "Search projects" %>
    <% end %>
  </li>
    </ul>
  </div>
</div>

    <ul>

	  </li>
    </ul>

<%= yield %>
</div>
</body>
</html>
