<!DOCTYPE html>
<html>
<head>
  <title>Tbd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">

<div class="page-header">
<h1>PICK</h1>
</div>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
          <%= link_to "Home", projects_path %>
      <li>
      <li class="divider-vertical"></li>
      <li>
          <%= link_to "My Projects", my_projects_path %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <%end %>
      </li>
    </ul>
  </div>
</div>

    <ul>

	  </li>
    </ul>

<%= yield %>
</div>
</body>
</html>
